
<%- include('header'); -%>
<table>
        <tbody>
        <tr>
                        <td>ID</td>
                        <td>:</td>
                        <td><%= users._id %></td>
        </tr>
          <tr>
            <td>Name</td>
            <td>:</td>
            <td><%= users.user_name %></td>
          </tr>
          <tr>
            <td>Email</td>
            <td>:</td>
            <td><%= users.user_email %></td>
          </tr>
          <tr>
            <td>Mobile</td>
            <td>:</td>
            <td><%= users.user_mobile %></td>
          </tr>
           
        </tbody>
      </table>